<h1>Task Details</h1>

<h2><%= @task['title'] %></h2>
<p><%= @task['details'] %></p>
<div>
    <p>  <input type="checkbox" name="details">
    <%= 'checked' if @task.completed %>
   This task is <%= "not" if !@task.completed %> completed </p>
</div>

<p><%= link_to "Back to list", tasks_path %></p>

<div class= 'edit_task'>
  <p><%= link_to "Edit that task", edit_path %></p>
</div>
